body, html, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Um fundo um pouco mais escuro para destacar o editor */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
